pandas                  #table
numpy                   #math
matplotlib              #plotting
yfinance>=0.2.37        #data
multitasking<0.013      #multithreading
stockstats              #indicators
ipynb                    #notebook
ta                      #technical analysis
scikit-learn            #machine learning

